
@charset "utf-8";
/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul,ol {
	list-style: none;
}

img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
    font-family: "Roboto" , "Noto Sans KR" , sans-serif;
	/* word-break: keep-all; */
}
body.fixed {
	overflow-y: hidden;
}

/* main */
#main {
	word-break: keep-all;
	height: 100vh;
	position: relative;

}
#main header {
	width: 100%;
	height: 4.375em;
	background-color: #fff;
	position: fixed;
	z-index: 1;
	/* overflow: hidden; */
	transition: ease 0.2s;
	z-index: 1000;
	/* position: relative; */
}
#main header .header_inner {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 12vw;
	transition: 0.3s;
	/* background-color: #000; */
}
#main header .header_inner a.logo{
	position: absolute;
	left: 9vw;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 8.4375em;
	height: 1.875em;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/logo_white.png) no-repeat;
}

#gnb > ul {
	display: flex;
	margin: 0 auto;
}
#gnb > ul > li > a {
	display: block;
	line-height: 4.375em;
	padding: 0 20px;
}
#gnb ul li .sub {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	/* border: 1px solid #f90; */
	background-color: #fff;
}
#gnb:hover ul li .sub {
	display: block;
}
#gnb ul li .sub .sub_inner {
	display: flex;
	justify-content: space-between;
	/* padding: 0 6vw; */
	width: 1000px;
	margin: 0 auto;
}
#gnb li .sub .sub_inner ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: 0.875em;
	box-sizing: border-box;
	/* border: 1px solid #ff0; */
	width: 200px;
	gap: 2px;
}
#gnb li .sub .sub_inner ul li {
	width: calc((100% - 2px)/2);
}
#gnb li .sub .sub_inner ul li a {
	display: inline-block;
	padding: 0 4px;
	line-height: 25px;
	color: #6a6a6a;
	font-size: 0.875em;
}
#gnb li .sub .sub_inner ul li a:hover,
#gnb li .sub .sub_inner ul li a:focus {
	background-color: #9995;
	border-radius: 5px;
}
#gnb li .sub .sub_inner ul li a span {
	color: #f00;
}