
@charset "utf-8";
/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul,ol {
	list-style: none;
}

img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
    font-family: "Roboto" , "Noto Sans KR" , sans-serif;
	/* word-break: keep-all; */
}
body.fixed {
	overflow-y: hidden;
}

/* main */
#main {
	word-break: keep-all;
	height: 100vh;
	position: relative;
}
#main header {
	width: 100%;
	height: 4.375em;
	background-color: #fff;
	position: fixed;
	z-index: 1;
	overflow: hidden;
	transition: 0.2s;
	z-index: 1000;
}
#main header.on {
	height: 450px;
}
#main header .header_inner {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 12vw;
	transition: 0.3s;
	background-color: #333;
}
#main header .header_inner a.logo{
	position: absolute;
	left: 9vw;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 135px;
	height: 30px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/logo_white.png) no-repeat;
	background-size: contain;
}

#gnb > ul {
	display: flex;
	margin: 0 auto;
}
#gnb > ul > li > a {
	display: block;
	line-height: 4.375em;
	padding: 0 20px;
	color: #fff;
}
#main header .header_inner #gnb > ul > li.on > a,
#main header .header_inner #gnb > ul > li:hover > a { 
	text-decoration: underline;
}

/*2depth*/
#gnb ul li .sub {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
}
#gnb ul li .sub .sub_inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1280px;
	height: 300px;
	margin: 0 auto;
	padding: 20px 15vw 0 9vw;
	gap: 20px;
} 
#gnb ul li .sub .sub_inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#gnb ul li .sub .sub_inner .right {
	display: flex;
}
#gnb li .sub .sub_inner ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	/* font-size: 0.875em; */
	box-sizing: border-box;
	width: 200px;
	gap: 2px;
}
#gnb li .sub .sub_inner ul li {
	width: calc((100% - 2px)/2);
	padding: 5px 0;
}
#gnb li .sub .sub_inner ul li > a {
	display: inline-block;
	padding: 0 5px;
	line-height: 20px;
	color: #6a6a6a;
	font-size: 0.875em;
}
#gnb li .sub .sub_inner ul li a:hover,
#gnb li .sub .sub_inner ul li a:focus {
	background-color: #9995;
	border-radius: 5px;
}
#gnb li .sub .sub_inner .sale {
	margin-left: 15px;
	padding: 5px 0;
}
#gnb li .sub .sub_inner .sale a {
	display: block;
	padding: 0 5px;
	color: #f00;
	font-size: 0.875em;
}
#gnb li .sub .sub_inner .sale a:hover,
#gnb li .sub .sub_inner .sale a:focus {
	background-color: #9995;
	border-radius: 5px;
}
#gnb li .sub .sub_inner .sale a span {
	line-height: 20px;
	/* padding: 0 5px ; */
}

a#btn {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	text-indent: -9999px;
}
a#btn.tab {
	display: none;
	width: 27px;
	height: 18px;
	background: url(../images/tab_white.png) no-repeat;
	background-size: contain;
}
a#btn.close {
	display: none;
	width: 25px;
	height: 25px;
	background: url(../images/close.png) no-repeat;
	background-size: contain;
	z-index: 10001;
}
#mobile {
	position: fixed;
	display: none;
	right: 0;
	top: 4.375em;
	padding: 30px 0;
	width: 360px;
	height: 100vh;
	background-color: #fff;
	z-index: 10000;
	box-sizing: border-box;
}
#mobile p {
	font-size: 1.125em;
	padding: 20px;
}
#mobile > ul > li  {
	border-bottom: 1px solid #e5e8eb;
}
#mobile > ul > li:first-child {
	border-top: 1px solid #e5e8eb;
}
#mobile > ul > li > a {
	line-height: 40px;
	padding-left: 30px;
	color: #2b2b2b;
}
#mobile > ul > li.on > a {
	color: #3E52BB;
}
#mobile li ul {
	display: none;
	flex-wrap: wrap;
	border-top: 1px solid #e5e8eb;
	gap: 2px;
	padding: 10px 0 10px 35px;
	transition: 0.2s;
}
#mobile li ul.active {
	display: flex;
}
#mobile li ul li {
	width: calc((100% - 2px)/2);
}
#mobile li ul li a {
	display: inline-block;
	padding: 0 4px;
	line-height: 25px;
	font-size: 0.875em;
	color: #6b6b6b;
}
#mobile li ul li a:hover {
	background-color: #9995;
	border-radius: 5px;
}
#mobile li ul li a span {
	color: #f00;
}
#main .slider {
	height: 100%;
	position: relative;
}
#main .slider img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#main .slider img.mobile {
	display: none;
}
#main .slider .keytext {
	position: absolute;
	left: 12vw;
	top: 50%;
	transform: translatey(-50%);
	white-space: nowrap;
}
#main .slider .keytext p.title {
	font-size: 3.25em;
	font-weight: 700;
	padding: 10px 20px;
	color: #fff;
}
#main .slider .keytext p.subtitle {
	margin: 20px 0 0 10px;
}
#main .slider .keytext p.subtitle span {
	padding: 7px 10px;
	line-height: 170%;
	font-size: 0.875em;
	color: #fff;
}
#main .dim {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100vh;
	z-index: 100;
}
#main .dim.active {
	display: block;
}
@media only screen and (max-width:1280px) {
	#main {
		font-size: 0.875em;
		overflow-x: hidden;
	}
	#gnb > ul > li > a {
		padding: 0 15px;
	}
	#main .slider .keytext {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.control {
		display: none;
	}
}
@media only screen and (max-width:720px) {
	#main header {
		background-color: #000;
	}
	#main header .header_inner {
		position: static;
	}
	#gnb {
		display: none;
	}
	a#btn.tab {
		display: block;
	}
	a#btn.close {
		display: block;
	}
	#main .slider .keytext p.title {
		font-size: 2em;
	}
	#main .slider .keytext p.subtitle {
		display: none;
	}
}
@media only screen and (max-width:520px) {
	#main header .header_inner a.logo{
		width: 107px;
		height: 23px;
	}
	#main .slider .keytext p.title {
		font-size: 1.875em;
	}
}
/* sub */
#sub {
	width: 100%;
	height: 100%;
	background: url(../images/sub_background.png) no-repeat ;
	background-size: cover;
	padding: 100px 0;
	overflow-x: hidden;
}
#sub .sub_inner {
	max-width: 1280px;
	margin: 0 auto;
}
#sub .intro {
	text-align: center;
}
#sub .intro p.subtitle {
	font-size: 1.0625em;
	color: #ddd;

}
#sub .intro p.title {
	font-size: 2em;
	font-weight: 600;
	color: #fff;
}

#slider {
	padding-top: 60px;
	position: relative;
}
#slider .sub_swiper {
    overflow: hidden;
}
#slider .swiper-wrapper .swiper-slide:nth-child(2n) {
	margin-top: 40px;
}
#slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	transition: 0.2s;
}
#slider .swiper-slide:hover img {
	filter: blur(1px);
}

#slider .swiper-slide:hover a::after {
	position: absolute;
	content: "more";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.875em;
	color: #fff;
	background-color: #3E52BB;
}
#slider .swiper-slide .desc {
	width: 100%;
	padding: 20px 30px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .5);
	box-sizing: border-box;

}
#slider .swiper-slide:hover .desc {
	filter: blur(1px);
}
#slider .swiper-slide .desc p.title {
	font-size: 1.0625em;
	font-weight: 500;
	transition: 0.2s;
	white-space: nowrap;
}
#slider .swiper-slide .desc p.subtitle{
	font-size: 0.8125em;
	color: #111;
	padding-top: 10px;
}
#slider .control a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
#slider .control a.next {
	display: block;
	left: -60px;
	width: 30px;
	height: 50px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/arrow_next.png) no-repeat;
	background-size: cover;
}
#slider .control a.prev {
	display: block;
	right: -60px;
	width: 30px;
	height: 50px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/arrow.png) no-repeat;
	background-size: cover;
}
#sub .btn {
	text-align: center;
}
#sub a.view_more {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.875em;
	color: #fff;
	box-sizing: border-box;
	transition: 0.2s;
	margin-top: 80px;
}
#sub a.view_more:hover {
	background-color: #3E52BB;
}
@media only screen and (max-width:1280px) {
	#sub {
		font-size: 0.875em;
	}
	#slider .sub_swiper {
		height: 100%;
	}
	#slider .sub_swiper .swiper-wrapper {
		flex-wrap: wrap;
		flex-direction: row;
	}
	#slider .swiper-slide {
		height: calc((100% - 30px) / 2);
		position: relative;
	}
	#slider .swiper-wrapper .swiper-slide:nth-child(2n) {
		margin-top: 0;
	}
	#slider .swiper-slide img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		transition: 0.2s;
	}
	#slider .swiper-slide:hover img {
		filter: brightness(0.7);
	}
	#slider .swiper-slide:hover a::after {
		position: absolute;
		content: "more";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 0.875em;
		color: #fff;
		background-color: #3E52BB;
	}
	#slider .swiper-slide .desc {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translatex(-50%);
		width: 100%;
		background-color: rgba(255, 255, 255, .9);
		padding: 10px;
		text-align: center;
		box-sizing: border-box;
	}
	#slider .swiper-slide:hover .desc {
		filter: brightness(0.7);
	}
	#slider .swiper-slide .desc p.title {
		font-size: 1em;
		font-weight: 500;
		transition: 0.2s;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#slider .swiper-slide .desc p.subtitle{
		display: none;
	}
	#sub a.view_more {
		font-size: 1em;
	}
}
@media only screen and (max-width:720px) {
	#sub .intro p.title {
		font-size: 1.75em;
		font-weight: 600;
		color: #fff;
	}
	#slider .swiper-slide .desc p.title {
		font-size: 0.8125em;
		font-weight: 500;
		transition: 0.2s;
	}
}
@media only screen and (max-width:520px) {
	#sub .intro p.title {
		font-size: 1.25em;
	}
}